---
import '@/styles/globals.css'
import Layout from "../layouts/Layout.astro";
---
<Layout title="SciTeach">
	<h1>SciTeach</h1>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec pur
</Layout>